body {
    background-color: #191919 ;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Ensure full viewport height */
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(0,255,255);
    padding: 20px;
}

.counter {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    color: rgb(0,255,255);
}

.game-container {
    border: 3px solid #00d5ff;
    margin: auto;
    width: fit-content;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg {
    background-color: rgb(0,255,255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px
}



.tg:hover {
    background-color: #fff200;
    color: #000000;
}

.currentScore{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0,255,255);

}
.targetScore {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0,255,255);
}

.tg1{
    background-color: rgb(0,255,255);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}